[project]
name = "telegram-uptime-monitor"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "sqlalchemy>=2.0.45",
    "telebot>=0.0.5",
]
